.slider-container {
  height: 80vh;
  overflow: hidden;
  position: relative;
}

.slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
  margin-top: 45px;
  border-radius: 5px;
}

.slider-img.active {
  opacity: 1;
}

.carousel-caption.center-caption {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  /* transparent black */
  padding: 20px 30px;
  border-radius: 10px;
  max-width: 500px;
}

.dept-section {
  margin-top: -50px;
  /* slightly overlay slider bottom */
}

.dept-card {
  background-color: rgba(255, 255, 255, 0.9);
  /* slightly transparent */
}

.dept-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dept-card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25);
}